#hangTieuDe{background-color:#c99501;color:white;font-family:arial;font-size:24px;padding:10px; text-align:center;}
#hang2 a{width:150px; padding:10px;background-color:white;color:black;display:block; float:left;margin-right:1px; text-align:center; font-family:Arial}
#hang2 a:hover{color:#c99501;}